<!DOCTYPE html>
<html>
{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block navbar %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
{% endblock navbar %}
{% block content %}
<p>
	Create a base menu.<br>
	This will be you default menu for ALL locations unless otherwise specified.
</p>
	<form action="{% url 'core:create_base_menu' user.id %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		
		<button name='submit'>Submit</button>
		
	</form>


{% endblock content %}
</body>
</html>