<!DOCTYPE html>
<html>
{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block navbar %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Video</title>
</head>
<body>
<small><a href="{% url 'core:venue_menu_view' user.id %}">->Back</a></small>
{% endblock navbar %}
{% block content %}
<p><b>Entree Name: {{ entree.name }}</b></p>
{% if video %}
	<b>Video:</b><br>
	<small><a href="{% url 'core:video' user.id %}">update video</a></small><br>

	<video width='400' controls>
	<source src='{{ MEDIA_URL }}{{ video }}' type='video/mp4'>
	Your browser does not support the video tag.
	</video>
{% else %}
	<a href="{% url 'core:add_main_course_video' entree.id %}">Add Video for {{ entree }}</a>
{% endif %}
<p>{{ entree.ingredient1 }}</p><br>
<p>{{ entree.ingredient2 }}</p><br>
<p>{{ entree.ingredient3 }}</p><br>
<p>{{ entree.ingredient4 }}</p><br>
<p>{{ entree.ingredient5 }}</p><br>
<p>{{ entree.ingredient6 }}</p><br>
{% if entree.ingredient7 == None %}
{% else %}
	<p>{{ entree.ingredient7 }}</p><br>
{% endif %}

{% if entree.ingredient8 == None %}
{% else %}
	<p>{{ entree.ingredient8 }}</p><br>
{% endif %}

{% if entree.ingredient9 == None %}
{% else %}
	<p>{{ entree.ingredient9 }}</p><br>
{% endif %}

{% if entree.ingredient10 == None %}
{% else %}
	<p>{{ entree.ingredient10 }}</p><br>
{% endif %}

<p>{% if entree.description == None %}
		<p>No description for this item</p>
	{% else %}
	<p>{{ entree.description }}</p>
	{% endif %}</p>

{% endblock content %}
</body>
</html>