<!DOCTYPE html>
<html>
{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block navbar %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TipGate</title>
</head>
<body>
	{% endblock navbar %}
	{% block content %}
	<p>Logged in as {{ request.user.email }}</p>

		{% if request.user.is_venue == True %}
			<a href="{% url 'core:venue_form' user.id %}">
			Register A Venue</a><br><br>
			
			<p>Alter Menu Items<p>
			{% for venue in venues %}
				<a href="">{{ venue }}</a><br>
			{% empty %}
			{% endfor %}
		
		{% else %}

			{% if customer %}
				<a href="{% url 'core:venue_page' %}">{{ customer }}</a>
			{% else %}
				{% if request.user.is_authenticated %}
						<a href="{% url 'core:customer_location' user.id %}">Choose Location</a>
				{% else %}
				{% endif %}

			{% endif %}

		{% endif %}
	{% endblock content %}
</body>

</html>