<!DOCTYPE html>
<html>
{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block navbar %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TipGate</title>
</head>
<body>
	{% endblock navbar %}
	{% block content %}
	<p>Logged in as {{ request.user }}</p>
		{% if request.user.is_venue %}
			<a href="{% url 'core:venue_form' user.id %}">
			Register A Venue</a><br>
			<p>{{ venue. }}</p>
		{% else %}
			{% if customer.location %}
			{% else %}
				<a href="{% url 'core:customer_location' user.id %}">Choose Location</a>
			{% endif %}

		{% endif %}
	{% endblock content %}
</body>

</html>