{% extends 'core/base.html' %}

{% block content %}
{% if request.user.is_venue %}
<br><p>Welcome to Opto, you're logged in as a venue.</p><br>

<h4>How it works:</h4>
<p>Add a venue:<br>
<div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Register A Venue</a>
        <a class="nav-link" href="#item-2">Base Menu</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-2-1">Edit Base Menu</a>
        </nav>
        <a class="nav-link" href="#item-3">Custom Menu</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-1">
        <h5><a href="">Register a Venue</a></h5>
        <p>If you have more than one location, add it <a href="{% url 'core:venue_form' user.id %}">here</a></p>
      </div>
      <div id="item-2">
        <h5><a href="{% url 'core:create_base_menu' user.id %}">Create Base Menu</a></h5>
        <p>The base menu will be your default menu for one or all of your locations. Create your base menu <a href="{% url 'core:create_base_menu' user.id %}">here</a></p>
      </div>
      <div id="item-2-1">
        <h5><a href="{% url 'core:edit_menu' user.id %}">Edit Base Menu</a></h5>
        <p>If you already have a base menu, edit it <a href="{% url 'core:edit_menu' user.id %}">here</a></p>
      </div>
      <div id="item-3">
        <h5><a href="{% url 'core:create_custom_menu' user.id %}">Custom Menu</a></h5>
        <p>...</p>
      </div>
      <div id="item-3-1">
        <h5>Item 3-1</h5>
        <p>...</p>
      </div>
      <div id="item-3-2">
        <h5>Item 3-2</h5>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
<p><a href="{% url 'core:create_base_menu' user.id %}">Create Base Menu</a><br>
<br><br>
<a href="">Create a custom menu</a>:<br>
If you have a special or seasonal menu for a specific location, add that menu here, and apply that menu to the location of your choosing.<br>
</p>



{% else %}
{% endif %}

{% endblock %}