<!DOCTYPE html>
<html>
{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block navbar %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
{% endblock navbar %}
{% block content %}
<small><a href="{% url 'core:home' %}">->Back</a></small>
<h4>Entree's</h4><br>
{% for entree in entrees %}
	<a href="{% url 'core:add_main_course_ingredient' user.id %}">{{ entree }}</a><br>
{% empty %}
{% endfor %}


<br><h4>Sides</h4><br>
{% for side in sides %}
	<a href="{% url 'core:add_side_dish_ingredient' user.id %}">{{ side }}</a><br>
{% empty %}
{% endfor %}

<br><h4>Drinks</h4><br>
{% for drink in drinks %}
	<a href="{% url 'core:add_drink_ingredient' user.id %}">{{ drink }}</a><br>
{% empty %}
{% endfor %}



{% endblock content %}
</body>
</html>